/* EVENTS*/

#event-background {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
}

#event-container {
  z-index: 3;
  position: absolute;
  overflow: auto;
  top: 20%;
  bottom: 30%;
  left: 35%;
  right: 35%;
  padding: 2%;
  font-size: 90%;
  border: 1px solid rgb(40, 40, 40);
  border-radius: 2px;
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.4);
  background-color: white;
  cursor: default !important;
}

/*EventList style*/
#event-list {
  border-bottom: 1px solid black;
  margin-bottom: 2%;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.233);
}
#event-date {
  margin-bottom: 10%;
}
.event {
  font-family: Helvetica-Neue-Light;
  letter-spacing: 0.5px;
}
.event > span {
  width: 100%;
  margin: 0;
  display: flex;
}
.event > span > p {
  width: 95%;
  margin: 0;
  word-break: break-all;
}
.event > span > button {
  padding: 0;
  padding-left: 2%;
  background-color: #ffffff00;
  color: #646464;
  border: none;
  float: right;
}
.event > span > button:hover {
  color: #000000;
}
.event > p {
  margin: 2%;
  font-style: italic;
  word-break: break-all;
}
.event:last-child {
  margin-bottom: 10%;
}

/*EventForm style*/
#event-form {
  width: 100%;
}
.form-input-text {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center; /*vertical align*/
  font-family: Helvetica-Neue-Light;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.form-input-text > label {
  min-width: 100px;
  width: 40%;
  max-width: 120px;
  overflow: hidden;
}
.form-input-checkbox {
  margin-top: 2%;
  width: 100%;
  display: flex;
  align-items: center; /*vertical align*/
  font-family: Helvetica-Neue-Light;
  letter-spacing: 0.5px;
}
.form-input-checkbox > label {
  font-size: 80%;
  overflow: hidden;
}

#form-title,
#form-description,
#form-time {
  width: 100%;
  margin-left: 1%;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 0;
  font-size: 100%;
  overflow: hidden;
  outline: none;
  font-family: Helvetica-Neue-Light;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, 0);
}
#form-title:hover,
#form-title:focus,
#form-description:hover,
#form-time:hover,
#form-description:focus,
#form-time:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
}
